body {
    background-color: #1a0033; /* Koyu Mor Arkaplan */
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 4rem;
    margin-bottom: 60px;
    letter-spacing: 5px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.item {
    text-decoration: none;
    color: white;
    text-align: center;
    transition: transform 0.3s;
}

.icon-box {
    width: 180px;
    height: 180px;
    background: rgba(255,255,255,0.1);
    border: 4px solid transparent;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

/* Seçili olan kutucuk parlasın */
.item.selected .icon-box {
    border-color: #00fbff;
    background: rgba(0,251,255,0.2);
    transform: scale(1.15);
}

.item span { font-size: 1.8rem; font-weight: bold; }

#cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    background: white;
    border: 3px solid #00fbff;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}
